@charset "utf-8";
/* CSS Document */
body {
   background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbIhmP5MMlEXv3xSnGJISfkH_H88L32FUf7A&usqp=CAU');
   background-repeat: no-repeat;
    background-attachment: fixed; 
  background-size: 100% 100%;

}
