@charset "utf-8";
/* CSS Document */
body {
   background-image: url('https://i.pinimg.com/originals/b9/d4/75/b9d475711fb1521ce67b190efc1f7e4b.jpg');
   background-repeat: no-repeat;
    background-attachment: fixed; 
  background-size: 100% 100%;

}
